body {background-color:#EAE7DC}
#genderLinegraph{background-color:white;margin-bottom: 20px;margin-left:20px;margin-top:20px;margin-right:20px;border-width:15px; border-radius: 10px;float:left;
    width:600px;
    height:300px;}
#lineGraph2{background-color:white;margin-bottom: 20px;margin-left:20px;margin-top:20px;margin-right:20px;padding-bottom:20px;border-width:15px; border-radius: 10px;}
#reasonsbargraph {background-color:white;margin-bottom: 20px;margin-left:40px;margin-top:20px;margin-right:20px;padding-bottom:20px;border-width:15px; border-radius: 10px;}
#return{border-color:black;border-width:15px; border-radius: 10px; height:25px;width:180px; background-color:white;padding:8px;font-family:verdana;font-size:15px;}
#message {text-align:center; font-weight:bold;color:black}

#tooltip.hidden
{
    display:none;
}

#tooltip
{
    position:absolute;
    width:200px;
    height:auto;
    padding:20px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}

#sex 
{
   font-size:30px; 
}

#percent
{
    font-size:30px;
}
#tooltipgender
{
    position:absolute;
    width:300px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}
#tooltipgender.hidden
{
    display:none;
}

path
{
    stroke: black;
    fill:none;
    stroke-width:3;
}

.male 
{
    stroke:blue;
    fill:blue;
}

.male path
{
    stroke:blue;
    fill:none;
}
.female
{
    stroke:pink;
    fill:pink;
   
}
.female path
{
    stroke:pink;
    fill:none;
   
}


#tooltip2
{
    position:absolute;
    width:300px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}



.teen path
{
    stroke:purple;
    fill:none;
     stroke-width:3;
}
.teen 
{
    stroke:purple;
    fill: purple;
}

.twenty path
{
    stroke:red;
    fill:none;
}

.twenty
{
    stroke:red;
    fill:red;
}

.mid
{
  stroke: green;
    fill:green;
}
.mid path
{
    stroke:green;
    fill:none;
}

.old
{
    stroke: orange;
    fill:orange;
}
.old path 
{
    stroke:orange;
    fill:none;
}



.title3
{
    font-size:20px;
}

.label3
{
    font-size:20px;
}

.off3
{
  opacity:.1;  
}