#title {text-align:center; font-weight:bold; color:black; border:10px; border-color:black;}
body {background-color:#EAE7DC}
#genderLinegraph{background-color:white;margin-bottom: 20px;margin-left:20px;margin-top:20px;margin-right:20px;border-width:15px; border-radius: 10px;
    width:600px;
    height:300px;}
#lineGraph2{background-color:white;margin-bottom: 20px;margin-left:20px;margin-top:20px;margin-right:20px;padding-bottom:20px;border-width:15px; border-radius: 10px;float:right; float:up}
#reasonsbargraph {background-color:white;margin-bottom: 20px;margin-left:40px;margin-top:30px;margin-right:20px;padding-bottom:20px;padding-top:20px;border-width:15px; border-radius: 10px;}
#return{border-color:black;border-width:15px; border-radius: 10px; height:25px;width:180px; background-color:white;padding:8px;font-family:verdana;font-size:15px;}
#action{border-color:black;border-width:15px; border-radius: 10px; height:45px;width:180px; background-color:white;padding:8px;font-family:verdana;font-size:15px;position:relative;}

#tooltipfemale.hidden
{
    display:none;
}

#tooltipfemale
{
    position:absolute;
    width:100px;
    height:auto;
    padding:20px;
    background-color:#8E8D8A;
    color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}


}
#tooltip p
{
    margin:0;
    font-family:sans-serif;
    font-size: 16px;
}
#tooltipfemale p
{
    margin:0;
    font-family:sans-serif;
    font-size: 16px;
}

#tooltip2.hidden2
{
    display:none;
}

#tooltip2
{
    position:absolute;
    width:100px;
    height:auto;
    padding:20px;
    background-color:#8E8D8A;
    color: white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}

#tooltip2 p
{
    margin:0;
    font-family:sans-serif;
    font-size: 16px;
}
#sex 
{
   font-size:20px; 
}

#percent1
{
    font-size:25px;
}

#percent2
{
    font-size:25px;
}

path
{
    stroke: black;
    fill:none;
    stroke-width:3;
}

pathagelines 
{
    stroke:blue;
    fill:none;
    stroke-width:3;
}
.male 
{
    stroke:blue;
    fill:blue;
}

.male path
{
    stroke:blue;
    fill:none;
}
.female
{
    stroke:#C71585;
    fill:#C71585;
   
}
#female
{
fill:#C71585;
}

#male
{
    fill:blue;
}

.female path
{
    stroke:#C71585;
    fill:none;
   
}


.teen 
{
    stroke:purple;
    fill: purple;
}


.twenty
{
    stroke:red;
    fill:red;
}

.mid
{
  stroke: green;
    fill:green;
}

.old
{
    stroke: orange;
    fill:orange;
}

#tooltiplines.hiddenlines
{
    display:none;
}

#tooltiplines
{
    position:absolute;
    width:100px;
    height:auto;
    padding:20px;
    background-color:white;
    color:color;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}

#tooltiplines p
{
    margin:0;
    font-family:sans-serif;
    font-size: 16px;
}

.title3
{
    font-size:20px;
}

.label3
{
    font-size:20px;
}

.off3
{
  opacity:.1;  
}

#tool3tip.hidden3
{
    display:none;
}

#tool3tip
{
    position:absolute;
    width:100px;
    height:auto;
    padding:20px;
    background-color:#8E8D8A;
    color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
}


 path.selected
{
stroke:red;
stroke-width:6;
}

 path.selected20
{
stroke:purple;
stroke-width:6;
}

path.selected26
{
    stroke:green;
    stroke-width:6;
}

path.selected50
{
    stroke:orange;
    stroke-width:6;
}