body{background-color: #EAE7DC}
h3 {border-color:black;border-width:15px; border-radius: 10px; height:25px;width:180px; background-color:white;padding:8px;font-family:verdana;font-size:15px}


#EAE7DC - brown
#E98074 -light pink
#E85A4F -pink
#D8C3A5 - tan
#8E8D8A -grey